.account-items {
  margin-top: 80px;
  font-size: 20px;
  padding: 0 20px;
}



.account-item {
  padding-left: 10px;
  background-color: #FEF9EF;
  height: 50px;
  &:hover {
      background-color: #1D373C;
      text-decoration: none;
      .account-link {
        text-decoration: none;
        color: #F7D383;
      }
    }
}

.account-link {
  // display: block;
  // width: 100%;
  margin: 0 auto;
  font-size: 30px;
  color: #1D373C;
    &:hover {
      text-decoration: none;
      color: #F7D383;
    }
    .fa {
      margin-right: 3px;
    }
}

.account-icon {
  color: #299D90;
  margin-right: 3px;
  min-width: 30px;
}

.user-image {
  margin-top: 80px;
}
