.account-items {
  margin-top: 50px;
  font-size: 20px;
}



.account-item {
  padding-left: 10px;
  background-color: #FEF9EF;
  height: 50px;
  &:hover {
      background-color: #1D373C;
      .account-link {
        text-decoration: none;
        color: #F7D383;
      }
    }
}

.account-link {
  // display: block;
  // width: 100%;
  margin: 0 auto;
  font-size: 30px;
  color: #1D373C;
    &:hover {
      text-decoration: none;
      color: #F7D383;
    }
}
