.question-card {
  margin-bottom: 30px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.question-content {
  // background-color: #E9EDE9;
  background-color: #fffefd;
  font-family: Montserrat;
  font-size: 20px;
  text-align: left;
  border-radius: 4px;
  padding: 10px;
  // border: 2px solid #F7D383;
}

.question-user-details {
  font-style: italic;
  font-family: Montserrat;
  text-align: left;
  padding-bottom: 5px;
  padding-left: 2px;
}

.answer-section {
  padding-top: 15px;
  text-align: left;
  padding-left: 2px;
}




