<div class="navbar navbar-expand-sm navbar-light navbar-amandla">
  <div class="container">
    <%=  link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dpnjiruwh/image/upload/v1607523164/Amandla_logo_yellow-01_xtdkfg.png" %>
      <% end %>
  </div>
</div>

<!-- a conditional if title is set then don't do the regular navbar but the special title and if logo is true also show the amandla logo -->
