<div class="home-wrapper">
  <div class="layer">
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <div class="home-content">
        <div class="logo">
<!--! Place the logo here -->
        </div>
        <div class="home-text-icon">
          <h2>Help create the<br>change</h2>
          <i class="fas fa-map-marker-alt"></i>
          <h5>SUPPORT BUSINESSES THAT ARE ALIGNED<br>WITH YOUR.</h5>
          <div class="search-bar">
            <%= form_tag places_path do %>
              <%= text_field_tag :location,
                params[:location],
                class: "form-control",
                placeholder: "Introduce your location" %>
              <%= button_tag(type: "submit", class: "btn-search") do %>
                <i class="fas fa-search"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

