.banner-show {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  position: relative;
}

.banner-show h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  // text-shadow: 0px 0px 4px black;
  font-size: 35px;
  font-weight: bold;
}

.banner-show h6 {
  margin: 0;
  color: #F7D383;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
  text-shadow: 0px 0px 8px black;
}

.banner-show p {
  font-size: 20px;
  color: white;
  opacity: .7;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-shadow: 0px 0px 6px black;
}

.avatar-bordered {
  border: 6px solid #F7D383;

}

.avatar-show {
  position: absolute;
  bottom: -35px;
  width: 130px;
  height: 130px;
  background-size: cover;
  left: calc(50vw - 65px);
  z-index: 1;
  border-radius: 50%;
}

.banner-show .rating-place {
  color: white;
}

.form-control {
  font-family: montserrat;
  font-weight: 100;
}
