.btn-search {
  color: #299D90;
  background-color: #FEF9EF;
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  width: 37px;
  border-radius: 5px;
  border: none;
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 4px;
}

.btn-create-business {
    color: #F7D383;
    background-color: #299D90;
    text-transform: uppercase;
    width: 100%;
    padding: 16px;
    display: block;
    border: none;
}
