.btn-search {
  color: #299D90;
  background-color: #FEF9EF;
  position: absolute;
  right: 0;
  top: 25px;
  padding: 6px;
  width: 37px;
  border-radius: 5px;
  border: none;
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 4px;
}

.btn-create-business {
    color: #F7D383;
    background-color: #299D90;
    text-transform: uppercase;
    width: 100%;
    padding: 16px;
    display: block;
    border: none;
}

.btn-apply-filters {
    color: #F7D383;
    background-color: #299D90;
    text-transform: uppercase;
    width: 100%;
    padding: 16px;
    display: block;
    border: none;
}

.btn-apply {
  position: relative;
  border: none;
}

.btn-dark-green {
  all: unset;
  background-color: #1D373C;
  color: #F7D383;
  font-size: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  &:hover {
    text-decoration: none;
    color: #F7D383;
  }
}

.btn-location-home {
  all: unset;
  background-color: #1D373C;
  color: #F7D383;
  font-size: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: absolute;
  top: -17px;
  left: 0;
  width: 89%;
  border-radius: 6px;
}

.btn-search-home {
  color: #299D90;
  background-color: #FEF9EF;
  position: absolute;
  right: 3px;
  top: 1px;
  padding: 6px;
  width: 37px;
  border-radius: 5px;
  border: none;
}

.btn-clear-filters {
    font-family: montserrat;
    padding: 16px;
    background-color: #F7D383;
    color:#274B53;
    border-radius: 6px;
    float: right;
    margin: 8px 18px 8px 0px;
}

a {
  color: #299D90;
}

.position-bottom {
  position: absolute;
  bottom: 14px;
  right: 14px;
}

.btn-link-green {
  all: unset;
  color: #274B53;
  font-size: 12px;
  width: 100px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: #274B53;
  }
}

.btn-link-green-larger {
  all: unset;
  color: #274B53;
  font-size: 18px;
  width: 100px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: #274B53;
  }
}

.position-bottom-left {
  position: absolute;
  bottom: 20px;
  left: 14px;
  text-decoration: none;
}
