.card-show {
  overflow: hidden;
  background: #FEF9EF;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-top: 74px;
  transform: translateY(-28px);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-bottom: -30px;
}

.banner-show {
  position: relative;
  .wish-icon-show {

    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 3;
    font-size: 29px;
  }

  .back-icon-show {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 3;
    font-size: 29px;
    color: #F7D383;
  }
}



.card-show p {
  font-size: 18px;
  text-align: center;
  color: #1D373C;
}

.tag-icons {
  font-size: 28px;
  color: #299D90;
}

#text-green {
  color: #299D90;
  font-size: 14px;
}

h5 {
  text-align: left;
  font-weight: 500;
  margin-top: 8px;
}

#about-place {
  font-weight: 600;
}


