.card-show {
  overflow: hidden;
  background: #FEF9EF;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-top: 78px;
  transform: translateY(-28px);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.card-show p {
  font-size: 18px;
  text-align: center;
}



