.category-selector:checked + label {
  color: #299D90 !important;
  border: 2px solid #299D90;
  border-radius: 4px;
}

.category-item {
  position: relative;
}

#place_category_bar + label::after {
  content: "\f561";
  height: 78px;
  padding-top: 12px;
}

#place_category_bar:checked + label {
  border-color: #299D90;
  color: #299D90;
}

#place_category_restaurant + label::after {
  content: "\f2e7";
  height: 78px;
  padding-top: 12px;
}

#place_category_restaurant:checked + label {
  border-color: #299D90;
  color: #299D90;
}

#place_category_cafe + label::after {
  content: "\f0f4";
  height: 78px;
  padding-top: 12px;
}

#place_category_cafe:checked + label {
  border-color: #299D90;
  color: #299D90;
}
#place_category_clothing_and_fabrics + label::after {
  content: "\f553";
  height: 78px;
  padding-top: 12px;
}

#place_category_clothing_and_fabrics:checked + label {
  border-color: #299D90;
  color: #299D90;
}
#place_category_groceries + label::after {
  content: "\f07a";
  height: 78px;
  padding-top: 12px;
}

#place_category_groceries:checked + label {
  border-color: #299D90;
  color: #299D90;
}
#place_category_beauty_and_wellness + label::after {
  content: "\f5bb";
  height: 78px;
  padding-top: 12px;
}

#place_category_beauty_and_wellness:checked + label {
  border-color: #299D90;
  color: #299D90;
}

