.card-link {
    padding: 18px;
    background-color: #F7D383;
    position: sticky;
    bottom: 9%;
    color:#274B53;
    border-radius: 6px;
    left: 10px;
    font-size: 18px;
    font-weight: 500;
}
