.navbar-amandla {
  justify-content: space-between;
  background: #1D373C;
  height: 67px;

}

.navbar-amandla .navbar-collapse {
  flex-grow: 0;
}

.navbar-amandla .navbar-brand img {
  width: 80px;
}

.nav-link {
  color: #F7D383 !important;
}

.nav-title {
  color: #F7D383;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.navbar-amandla i {
  font-size: 27px;
  color: #F7D383;
}

