.question-answer {
  background-color: #274B53;
  position: relative;

  .btn-link-green.position-bottom-left {
    color: #FCEDCB;
    bottom: 24px;
    left: 24px;
  }
}

.question-answer h5 {
  color: #F7D383;
  font-size: 28px;
}

.question-answer p {
  padding-top: 0px;
  color: #FCEDCB;
  font-size: 12px;
  text-align: left;
}

.question-answer h6 {
  color: #FCEDCB;
  font-size: 18px;
}

.question-answer hr {
  border-color: #E9C36F;
}

.ask-show {
  all: unset;
  background-color: #1D373C;
  color: #F7D383;
  font-size: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.show-more {
  all: unset;
  color: #299D90;
  font-size: 12px;
}


