.ratings-show {
  background-color: #299D90;
}


.card-show .ratings-global {
  font-size: 28px;
  margin-top: 6px;
}

#rating-number {
  font-size: 28px;
  color: #F7D383;
}

#leaf {
  margin-top: 6px;
  color: #6AC2D0;
}

.opinions {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

#who-said {
  font-size: 12px;
  text-align: left;
  color: #FCEDCB;
}

.ratings-people {
  font-size: 18px;
  color: #FCEDCB;
}

.little-rating {
  color: #CBEFF5;
}

#really-little {
  color: #F7D383;
  margin: 4px;
}

.leafy {
  padding: 2px;
  margin-top: 6.8px;
}

hr {
  border-color: #E9C36F;
}

.show-more-ratings {
  all: unset;
  color: #274B53;
  font-size: 12px;
}
