#place_tag_list_veggie + label::after {
  content: "\f06c";
}

#place_tag_list_fair_trade + label::after {
  content: "\f2b5";
}

#place_tag_list_woman_owened +label::after {
 content: "\f226";
}

#place_tag_list_fully_organic +label::after {
 content: "\f4d8";
}

#place_tag_list_lgbt-friendly +label::after {
 content: "\f75b";
}

#place_tag_list_local_products +label::after {
 content: "\f4d8";
}

#place_tag_list_green_energy +label::after {
 content: "\f4d8";
}
