#place_tag_list_plant-based + label::after {
  content: "\f06c";
}

#place_tag_list_fair_trade + label::after {
  content: "\f2b5";
}

#place_tag_list_women_owned +label::after {
 content: "\f226";
}

#place_tag_list_locally_sourced +label::after {
 content: "\f21d";
}

#place_tag_list_lgbt-friendly +label::after {
 content: "\f75b";
}

#place_tag_list_organic +label::after {
 content: "\f4d8";
}

#place_tag_list_vegetarian +label::after {
 content: "\f816";
}
