.top-container {
  padding: 15px;
  color: #1D373C;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 17px;
  margin: 10px 0;
}

.icons {
  display: flex;
  float: right;
}

.top-container .right-icon {
  margin-left: 10px;
}

