<div class= "container">
    <h3> Here are the places </h3>
    <div class="row">
      <% @places.each do |place| %>
        <%= link_to place.name.capitalize, place_path(place) %>
      <% end %>
    </div>
</div>
